.hidden {
  display: none;
}

body.ModalOpen {
  overflow: hidden;
}

.Modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.Overlay {
  position: absolute;
  inset: 0;
}

.ModalContent {
  position: relative;
  background: #fff;
  padding: 1em;
  max-width: 90%;
  width: 400px;
  text-align: center;
  z-index: 1;
}

.ModalImage {
  width: 100%;
  height: auto;
}

.CloseButton {
  margin-top: 1em;
}
