.works__container {
  padding: 0 1.25rem;
}

.works__caption-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
}

.works__caption {
  margin-bottom: 4rem;
  font-size: 1rem;
}

.works__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.works__gallery img {
  width: 100%;
  max-width: 18.75rem;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto 1rem;
  transition: transform 0.3s ease;
}

.works__gallery img:hover {
  transform: scale(1.05);
}

.works__item {
  margin-bottom: 2rem;
}

.works__container > .works__item > img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.3s ease;
  opacity: 1;
  pointer-events: auto;
  /* 上記2行.popup:target内に入れておりエラー,
  .popup:target{ ...}を削除,
  こちらに移動させてエラー解消済み。 */
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.popup-content {
  position: relative;
  background-color: #fff;
  width: 90%;
  max-width: 37.5rem;
  max-height: 80%;
  overflow-y: auto;
  padding: 1.25rem;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.popup-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.popup-description {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
  text-align: left;
  padding-bottom: 1rem;
}

.popup-description strong {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0.25rem;
}

.popup-url {
  font-size: 1rem;
  word-break: break-word;
}

.close-btn {
  display: inline-block;
  color: #333;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 0.0625rem 0.25rem;
  font-size: 0.875rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: 1;
  /* 縦方向の余白を詰める */
  margin: 0 auto;
}

.close-btn:hover {
  background-color: #f0f0f0;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  /* 上記2行.popup内に入れておりエラー,
  display: none; を削除,
  こちらに移動させてエラー解消済み。 */
}


@media (max-width: 767px) {
  .works__description {
    margin: 1.5rem 1rem 2rem;
  }

  .works__title {
    font-size: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 1rem;
    line-height: 1.2;
    flex-direction: column;
    align-items: center;
  }

  .works__gallery {
    display: block;
    padding: 0;
  }

  .works__gallery img {
    width: calc(100% + 2rem);
    margin: 0 -1rem 1.5rem;
    max-width: none;
  }
}