h1 {
  font-size: 18px;
  border-bottom: 1px solid;
  padding: 8px 16px;
  margin-bottom: 16px;
}

dl {
  margin: 0; /* デフォルトで入る余白を削除 */
}

dl > div {
  margin-bottom: 8px;
}

dt {
  padding: 8px;
  cursor: pointer;
  user-select: none;
  /* 文字を連続クリックすると文字選択されてしまうため、
  そうならないようにUXを改善。 */
  position: relative;
  /* この要素内に配置する
  ::after を絶対位置でコントロールできるように。 */
}

dt::before {
  content: 'Q. ';
  /* dtの先頭に追加 */
}

dt::after {
  content: '+';
  /* dtの末尾に追加 */
  position: absolute;
  top: 8px;
  right: 16px;
  /* dtを基準に、上から8px・右から16pxに配置。 */
}

dd {
  padding: 8px;
  margin: 0; /* デフォルトで入る余白を削除 */
  display: none;
}

dd::before {
  content: 'A .';
  /* dtの先頭に追加 */
}