.carousel {
  width: 80%;
  margin: 16px auto;
}

.container {
  width: 100%;
  height: 220px;
  overflow: hidden; /* 横にはみ出た画像を隠す */
  position: relative; /* 矢印用の絶対配置 */
}

/* ↓ imgの親要素はliとulなので、
どちらにも明示的に高さを指定 */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex; /* 画像を横並びに */
  transition: transform .3s;
}

li {
  height: 100%;
  min-width: 100%;
}

li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 画像の縦横比を保ったまま領域全体を埋める */
}

.prev,
.next { /* 矢印ボタン */
  position: absolute; /* .containerに対して */
  top: 50%;
  transform: translateY(-50%);
  /* 上下中央に揃える */
  border: none; /* ボタンの枠線を消す */
  background: rgba(0, 0, 0, .8);
  color: #fff;
  font-size: 24px;
  padding: 0 8px 4px;
  cursor: pointer;
}

.prev:hover,
.next:hover {
  opacity: .8;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.hidden {
  display: none;
  /* ボタンを隠すためのクラス */
}