.container {
  width: 80%;
  height: 220px;
  margin: 16px auto;
  outline: 8px solid red;
  /* 領域に対して赤い枠線 */
  /* borderと違い、
  領域の幅や高さに影響を与えないので
  他の要素がずれない */
}

/* ↓ imgの親要素はliとulなので、
どちらにも明示的に高さを指定 */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

li {
  height: 100%;
}

li img {
  width: 100%;
  height: 100%;
}