@charset "utf-8";

body {
  margin: 0;
}

.container {
  width: 400px;
  margin: 16px auto 0;
}

h1 {
  margin: 0;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* リスト項目の文量が増えると、×ボタンが
  フレックスアイテムの高さいっぱいに広がってしまうので、
  ボタンが上の方に配置されるように開始位置に揃える */
  margin-top: 16px;
}

form {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

form input {
  flex: 1; /* 各アイテムが均等にスペースを占有 */
  padding: 4px;
}